<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="client.html"></script>
</head>
<body>
	<p>angry birds</p>
	
	<canvas id="foreground" width='800' height='600'></canvas>
</body>
</html>
