<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/jquery.js"></script>
	<script type="text/javascript" src="/client.js"></script>
	<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<p>angry birds</p>
	
	<canvas id="foreground" width='800' height='600'></canvas>
	<canvas id="bg0" width='800' height='600' style="border:1px solid black;"></canvas>
</body>
</html>
